[ req ]
default_bits       = 4096
default_md         = sha256
distinguished_name = req_distinguished_name
req_extensions     = req_ext
prompt             = no

[ req_distinguished_name ]
C  = RU
ST = SomeState
L  = SomeCity
O  = MyOrganization
OU = MyClient
CN = client

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = client
